@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.thoughts_container {
    width: 400px;
    padding: 10px;
    margin-top: 4rem;
}
.experience_container{
    width: 50%;
    display: block;
    margin: 12rem auto;
  }
.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}
.experience_container{
    width: 50%;
    display: block;
    margin: auto;
  }
.message-orange {
    position: relative;
    margin-top: 2rem;
  margin-left: 2rem;
    padding: 2rem;
    background-color: #f8e896;
    
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: auto;
    height: auto;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.thoughts_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default to 1 column for mobile */
    gap: 20px;
    padding: 20px;
  }
  .h1 {
    margin-top: 6rem;
    margin-left: 12rem;
    font-size: 55px;
  }.experience_container{
    width: 50%;
    display: block;
    margin: auto;
  }
  /* Media queries for different screen sizes */
  @media (min-width: 992px) {
    .experience_container{
      width: 50%;
      display: block;
      margin: auto;
    }
    .thoughts_container {
        grid-template-columns: repeat(1, 1fr); /* 4 columns on larger screens */
    }
    textarea{
      height: 12rem;
      width: 16rem;
    }
    .thoughts_page{
        display: flex;
        flex-direction: row;
    }
    .experience_container
    {
      display: flex;
      flex-direction: row;
  }
  .experience_container img{
    width: 20rem;
    margin-top: 8rem;
    margin-right: 6rem;
  }
    .thoughts_page img{
        width: 40rem;
    }
    .message-orange{
        width: 16rem;
    }
  
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .thoughts_container {
        grid-template-columns: repeat(1, 1fr);/* 3 columns on tablets */
    }
    textarea{
      
        width: 16rem;
        height: 8rem;
    
    }
    .experience_container{
        width: 50%;
        display: block;
        margin: 8rem auto;
      }
      h1{
        font-size: 2rem;
      }
      .experience_container img{
        width: 12rem;
        margin-top: 5rem;
      }
  }
  
  @media (max-width: 767px) and  (min-width: 312px) {
    .thoughts_page img {
        width: 15rem;
    }
    .thoughts_container {
      width: 80%;
      margin: 4rem auto;
  }
  .experience_container img{
    width: 8rem;
    margin-top: 5rem;
  }
  h1{
    font-size: 1rem;
  }
  textarea {
    width: 12rem;
    height: 8rem;
}
.thoughtbutton{
  font-size: 0.5rem;
}
  .experience_container{
    width: 50%;
    display: block;
    margin: 12rem auto;
  }
  ul{
    width: 14rem;
  }
  .thoughts_page{
    display: flex;
    flex-direction: column;
}

    .thoughts_container {
      grid-template-columns: repeat(1, 1fr); /* 1 column on mobile devices */
    }
  }
  